main {
    background: url(../images/background.png) no-repeat;
    background-size: 100%;
  }

  footer{
      background-color: white;
  }

  .main-block {
    background-color: rgb(223, 240, 253);
    border-radius: 25px;
  }

  #clickonme {
      background-color: rgb(183, 237, 255);
    border-bottom: 2px dashed rgb(37, 0, 107); 
  }

  #meaningfull-words{
    background-color: rgb(0, 24, 158);
    color: white;
    font-weight: bold;
    border-radius: 3px;
  }

  #showmore:hover {
      background-color: #001fd1;
      color: whitesmoke;
      border-radius: 2px;
  }

  #gifpresident {
      margin-top: 3px;
  }

  /* #y2017 strong {
      background-color: dodgerblue;
      color: white;
  } */

  .contacts li a.facebook:hover {
    color: #00109c;
  }

  .contacts li a.twitter:hover {
    color: #32b4ff;
  }

  .contacts li a.instagram:hover {
    color: #9c00aa;
  }